/*GENERAL STYLING*/

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}


body {
	padding: 0;
	margin:0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: rgb(101, 51, 51);
	text-shadow: 2px 2px 3px #A2A2A2;
	font-family: 'Open Sans', sans-serif;
	font-style: normal; 
	font-size: 20px;
	width: 100vw;
}


h2 {
	margin-bottom: 0;
}

.section-wrap {
	margin: 3.5em 15% 0 15%;
	max-width: 1200px;
}

div.border{
	border-top: 3px solid;
	margin: 0 auto;
	margin-bottom: 2em;
	margin-top: 0.5em;
	width: 8%;
	box-shadow: 2px 2px 10px #000;
}

ul{
	list-style-type: none;	
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #fff;
	cursor: pointer;

}

a:hover {
	color: lightgrey;
}

a:active {
	color: #FE0000;
}

nav, footer {
	background-color: rgb(205, 51, 1);
	color: white;
	text-shadow: none;
}

/*NAVIGATION BAR*/
nav {
	position: fixed;
	width: 100%;
	height: 3em;
	z-index: 999;	
}

nav ul{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav ul li {
	margin: 0.8em 0 0 0;
}

nav ul li a {
	padding: 0.8em;
}

nav ul li:not(:last-child){
	margin-right: 2em;
}

nav img#ham-menu {
	display: none;
}
/*MAIN TITLE PAGE*/

main, section {
	height: 100vh;
}

header {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
header h1 {
	font-size: 5em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	margin-top: 3em;
}

header h2 {
	margin: 0;
	padding: 0;
	font-size: 2.5em;
	font-weight: normal;
}

header h2::before {
	content: '{';
}

header h2::after {
	content: '}';
}

main{
	background: url('./images/titleImg.jpg') no-repeat;
	background-attachment: fixed; 
	background-size: cover;	
	color: white;
	animation-name: move;
	animation-duration: 20s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	text-shadow: 2px 2px 10px #000;

}

#toScrollDown {
	position: absolute;
	font-size: 6em;
	font-weight: normal;
	bottom: 0;
	left:0;
	right: 0;
	margin: auto;
}

#toScrollDown:active {
	color: #FE0000;

}



/*ABOUT SECTION*/

section#about p {
	margin: 2em 35% 0 35%;
	line-height: 2em;
}

#devImg {
	width: 120px;
	border-radius: 50%;
	box-shadow: 2px 2px 30px #000;
}

span.highlight {
	color: rgb(192, 25, 141);
}

/*STACK SECTION*/

section#stack {
	background: url('./images/stackImg.jpg') no-repeat;
	background-attachment: fixed; 
	background-size: cover;	
	text-align: center;
}

section#stack div.stack-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: center;
}

section#stack img{
	width: auto;
	height: 90px;
	margin: 1em;
	margin-bottom: 1em;
	margin-top: 1em;
	filter: drop-shadow(2px 2px 1px darkgrey);

}

/*PROJECT SECTION*/

section#projects {
	background: url('./images/projectsImg.jpg') no-repeat;
	background-attachment: fixed; 
	background-size: cover;	
	display: flex;
	justify-content: center;
	flex-shrink: 1;
}

section#projects div.project-row{
	display:flex;
	flex-direction: row;
}

section#projects a img {
	width: auto;
	height: 200px;
	margin: 1.5em;
	margin-bottom: 1.3em;
	margin-top:0;
	box-shadow: 2px 2px 10px #000;
}

/*CONTACT SECTION*/

div#contact-footer-wrapper {
	position: relative;
}

section#contact{
	margin-top: 3em;
	height: auto;
}

section#contact p {
	margin-left: 30%;
	margin-right: 30%;
}


/*CONTACT FORM*/
section#contact form {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 50%;
}

.form:first-child {
	margin-top: 1em;
}

.form {
	width: 100%;
	outline: none;
	border: 0;
	padding: 10px 15px;
	background: rgb(193, 165, 162);
	font-size: 12pt;
	margin-bottom: 1em;
	color: #FFF;
	border-radius: 10px;
	box-shadow: 2px 2px 10px #000;
	font-size: 1em;
}

::placeholder{
	color: #fff;
}

textarea.form{
	margin-top: 0;
	height: 180px;
	resize: none;
	font-family: 'Open Sans', sans-serif;

}

button {
	background-color: rgb(101, 51, 51); /* Green */
	border: none;
	color: #fff;
	width: 6em;
	margin: 0 auto;
	padding: 0.5em;
	font-size: 1em;
	border-radius: 10px;
	box-shadow: 2px 2px 10px #000;
	cursor: pointer;
	margin-bottom: 2.1em;
}

button:hover {
	color: #FDEA6B;

}

button:active {
	color: #FE0000;
	background-color: #40190C;
}

div#contact-footer-wrapper {
	height: 100vh;
}

/*FOOTER*/

footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 6em;
}

footer span {
	display: inline-block;
	margin-top: 2.2em;
}

/*ANIMATION*/

@keyframes move {
	0% {
		background-position: top;
	}
	50% {
		background-position: bottom;
	}

}


/*MEDIA QUERIES*/
@media only screen 
and (min-width: 610px)
and (max-width: 1100px)
{
	body {
		padding: 0;
		margin:0 auto;
		display: flex;
		flex-direction: column;
		text-align: center;
		color: rgb(101, 51, 51);
		text-shadow: 2px 2px 3px #A2A2A2;
		font-family: 'Open Sans', sans-serif;
		font-style: normal; 
		font-size: 20px;
		width: 100vw;
	}
	body {
		overflow-x: hidden;
	}
	nav {
		position: fixed;
		width: 100%;
		height: 3em;
		z-index: 999;	
	}

	.section-wrap {
		margin: 3.5em 5% 0 5%;
		max-width: 1200px;
	}

	header h1 {
		font-size: 2.4em;
		margin-top: 6.5em;
	}
	header h2 {
		font-size: 1.2em;
	}

	#toScrollDown {
		font-size: 3em;

	}

	section#about p {
		margin: 2em 20% 0 20%;
		line-height: 2em;
	}

	section#projects a img {
		height: 170px;
	}

	section#contact div.section-wrap{
		height: auto;
	}

	footer{
		position: static;
	}


}

@media only screen 
and (min-width: 0px)
and (max-width: 610px)


{

	nav {
		width: 100vw;
	}
	nav ul{
		display: none;
	}

	nav {
	}

	nav img#ham-menu {
		cursor: pointer;
		position: absolute;
		right: 0;
		top: 0;
		margin-right: 0.3em;
		margin-top: 0.3em;
		float: right;
		display: flex;
		height: 50px;
		width: 50px;

	}

	nav ul li:first-child{
		margin-top: 1em;
		padding: 0;
	}
	nav ul li {
		background-color: rgb(205, 51, 1);
		padding: 10px;
		margin: 0;
		width: 200px;
	}

	nav ul li a {
	}

	nav ul li:first-child {
		margin-top: 3em;
	}

	nav ul li:not(:last-child){
		margin-right: 0;
	}

	nav ul.responsive {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		transition: 1s;
	}

	div.section-wrap {
		height: auto;
	}

	header h1 {
		font-size: 2em;
		margin-top: 4em;
	}

	header h2 {
		font-size: 1em;
	}

	header h2::before {
		content: '';
	}

	header h2::after {
		content: '';
	}

	header {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	#toScrollDown {
		position: absolute;
		font-size: 3em;
		font-weight: normal;
		bottom: 0;
		left:0;
		right: 0;
		margin: auto;
	}


	section#about {
		height: auto;
	}

	section#about p {
		margin: 2em 10% 1em 10%;
		margin-bottom: 1em;
	}

	section#about p {
		line-height: 2em;
	}


	section#stack img {
		margin: 0;
	}


	section#projects {
		height: auto;
	}

	section#projects a img {
		margin-right: 0;
		margin-left: 0;
		width: 90%;
		height: auto;
	}


	section#projects div.project-row{
		display:flex;
		flex-direction: column;
	}

	section#contact p {
		margin-left: 10%;
		margin-right: 10%;
		height: auto;
	}

	section#contact form {
		display: flex;
		justify-content: center;
		margin-left: 0;
		margin-right: 0;
		width: auto;
		height: 400px;
	}

	footer{
		position: static;

	}




}